<!-- Parallax Image Section -->
<div class="parallax-section">
    <h1>Welcome to Troc'App !</h1>
</div>


<div class="container text-center py-5"  style="background-color: #783c113d">
    <div class="row" >
      <div class="col mb-3">
           <div class="card" style="width: 18rem;">
            <img src="/assets/shakinghands.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">"Échangez plutôt qu'acheter !" <br>
                Découvrez un monde d'échanges simples et gratuits, où chaque objet peut avoir une seconde vie. Rejoignez notre communauté de troqueurs !</p>
            </div>
          </div>
      </div>
      <div class="col mb-3">
         <div class="card" style="width: 18rem;">
            <img src="/assets/objects.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">"Partagez, troquez, économisez !" <br>
                Donnez une nouvelle utilité à vos objets inutilisés et trouvez ce dont vous avez besoin sans dépenser un centime.</p>
            </div>
          </div>
      </div>

      <div class="col mb-3">
        <div class="card" style="width: 18rem;">
           <img src="/assets/security.jpeg" class="card-img-top" alt="...">
           <div class="card-body">
             <p class="card-text">"Un troc éco-responsable à portée de clic !" <br>
                Faites un geste pour l'environnement en échangeant des objets, tout en réduisant vos déchets et en économisant.</p>
           </div>
         </div>
     </div>


    </div>

</div>
<h4>Explore the map to see the location of available items and propose exchanges effortlessly <br> Click on an item to learn more and connect with its owner !</h4>

<div style="height: 500px;" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
