
 <!-- Parallax Image Section -->
 <div class="parallax-section">
    <h1>Welcome to Troc'App !</h1>
</div>


<div class="container text-center py-5"  style="background-color: #783c113d">
    <div class="row" >
      <div class="col mb-3">
           <div class="card" style="width: 18rem;">
            <img src="/assets/shakinghands.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col mb-3">
         <div class="card" style="width: 18rem;">
            <img src="/assets/objects.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>

      <div class="col mb-3">
        <div class="card" style="width: 18rem;">
           <img src="/assets/security.jpeg" class="card-img-top" alt="...">
           <div class="card-body">
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           </div>
         </div>
     </div>

      
    </div>
    
</div>




<h2>Welcome to the page of the map !</h2>

<div style="height: 500px;" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
