<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Troc'App</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <style>
      body {
          background-color: #f8f9fa;
      }
      .recipe-card:hover {
          transform: scale(1.05);
          transition: transform 0.3s;
      }
      .navbar-custom {
          background-color: #783c11;
      }
      .navbar-custom .navbar-brand, .navbar-custom .nav-link {
          color: white;
      }

      .logo {
      max-height: 40px;  
      width: auto;       
      }
  </style>
</head>


  <!-- Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          Troc'App
       </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/viewing-items-map" routerLinkActive>Home Page</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/users-management" routerLinkActive>User Management</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/exchanges" routerLinkActive>My exchanges</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/item" routerLinkActive>Item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/viewing-items-map" routerLinkActive>Explore Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/category-list" routerLinkActive>Category</a>
              </li>
              <!--
              <li class="nav-item">
                  <a class="nav-link" routerLink="/rating-comment" routerLinkActive>Rating</a>
              </li>
              -->
              <li class="nav-item">
                  <a class="nav-link" routerLink="/edit-profil" routerLinkActive>Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/gdpr-form" routerLinkActive>GDPR Request</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/gdpr-admin" routerLinkActive>GDPRRequest Management</a>
              </li>
          </ul>
          <!-- Search Form -->
          <form class="d-flex position-relative" role="search">
            <!-- Search Input -->
            <input 
              class="form-control me-2" 
              type="search" 
              [(ngModel)]="searchTerm"
              name="search"
              placeholder="Search user..." 
              aria-label="Search"
              (input)="onSearch($event)"
            >
            
            <!-- Search Button -->
            <button class="btn custom-btn" type="button">Search</button>
            
            <!-- Results Dropdown -->
            <div 
              class="position-absolute top-100 start-0 w-100 mt-1" 
              *ngIf="(searchResults$ | async)?.length"
            >
              <div class="list-group shadow">
                <a 
                  *ngFor="let user of searchResults$ | async"
                  class="list-group-item list-group-item-action"
                  (click)="onUserSelect(user)"
                >
                  <div class="d-flex align-items-center">
                    <!-- Optional: Add user avatar -->
                    <div class="me-3">
                      <i class="bi bi-person-circle"></i>
                    </div>
                    <!-- User Info -->
                    <div>
                      <div class="fw-bold">{{user.firstName}} {{user.lastName}}</div>
                      <small class="text-muted">{{user.email}}</small>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </form>
      </div>
  </div>
</nav> 

  <router-outlet></router-outlet>

  <footer class="text-center " style="background-color:#783c11; color: white;">
    
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
        data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        &copy; 2024 Your Company. All rights reserved.
      <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
