<!-- user-edit.component.html -->
<div class="container my-5">

  <form>
      <!-- Titre amélioré -->
      <div class="d-flex align-items-center mb-4 pb-3 border-bottom">
        <h2 class="m-0 display-6 text-primary">
          <i class="bi bi-people-fill me-2"></i>
          Edit user
        </h2>
      </div>
     

      <div class="form-group">
          <label>Rôles:</label><br>
          <div class="roles-selection">
            @for (role of roleList | async; track $index)
            {
              <div class="role-item" >
                <input type="checkbox" [id]="'role-' + role.id" [checked]="isRoleSelected(role)" (change)="toggleRole(role)">
                <label [for]="'role-' + role.id">{{ role.name }}</label>
              </div>
             
            }  
          </div>
      
      </div>
      <div class="text-center">
          <button type="button" (click)="submitEditForm()" class="btn btn-primary">Sauvegarder</button>
          <button type="button" (click)="goBack()" class="btn btn-secondary">Retour</button>
      </div>
  </form>
  <div *ngIf="message" class="alert alert-success text-center mt-3" role="alert">
      {{ message }}
  </div>