<h1> Welcome to the detailed view of the selected item</h1>

<h3>Selected Item</h3>
<table class="table table-striped">
<tbody>
  <tr>
    <td>{{ item.photo }}</td>
  </tr>
  <tr>    
    <td>{{ item.name }}</td>
  </tr>
  <tr>
    <td>{{ item.description }}</td>
  </tr>
  <tr>
    <td>{{ item.category }}</td>
  </tr>
  <tr>
    <td>{{ item.ownerid.getPseudo }}</td>
  </tr>
  <tr>
    <td>
      <button class="btn btn-primary" (click)="proposeExchange(item.itemId)">Propose an exchange</button>
    </td>
  </tr>
</tbody>
</table>